In [1]:
import pandas as pd

In [2]:
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np

In [8]:
np.nan == None

False

In [9]:
np.nan == np.nan

False

In [10]:
np.isnan(np.nan)

True

In [12]:
sports = {'Archery':'Bhutan', 
         'Golf':'Scotland'}
s = pd.Series(sports)
s

Archery      Bhutan
Golf       Scotland
dtype: object

In [14]:
s.index

Index([u'Archery', u'Golf'], dtype='object')

In [19]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])

In [20]:
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [21]:
sports = {'Archery':'Bhutan', 
         'Golf':'Scotland'}
s = pd.Series(sports)
s

Archery      Bhutan
Golf       Scotland
dtype: object

In [22]:
s.iloc[1]

'Scotland'

In [23]:
s.loc['Golf']

'Scotland'

In [26]:
np.sum(s)

'BhutanScotland'

In [27]:
s = pd.Series(np.random.randint(0, 1000, 10000))

In [28]:
s.head()

0    218
1    850
2    585
3    241
4    927
dtype: int64

In [29]:
len(s)

10000

In [30]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

100 loops, best of 3: 1.35 ms per loop

In [32]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 34 µs per loop

In [33]:
s+= 2

In [34]:
s.head()

0    220
1    852
2    587
3    243
4    929
dtype: int64

In [35]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

10 loops, best of 3: 583 µs per loop

In [37]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [42]:
sports = pd.Series({'Archery':'Bhutan', 
         'Golf':'Scotland'})

In [43]:
cricket = pd.Series(['Australia', 'UK', 'Barbados'], index=['Cricket', 'Cricket', 'Cricket'])

In [44]:
sports.append(cricket)

Archery       Bhutan
Golf        Scotland
Cricket    Australia
Cricket           UK
Cricket     Barbados
dtype: object

In [45]:
purchased_1 = pd.Series({'Name': 'Tom', 
                            'Item Purchased': 'Dog Food',
                            'Cost':22.50})
purchased_2 = pd.Series({'Name': 'Kev', 
                            'Item Purchased': 'Cat Food',
                            'Cost':18.50})
df = pd.DataFrame([purchased_1, purchased_2], index=['Store 1', 'Store 2'])
df

         Cost Item Purchased Name
Store 1  22.5       Dog Food  Tom
Store 2  18.5       Cat Food  Kev

In [46]:
df.loc['Store 2']

Cost                  18.5
Item Purchased    Cat Food
Name                   Kev
Name: Store 2, dtype: object

In [47]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [48]:
df.loc['Store 1', ['Cost', 'Name']]

Cost    22.5
Name     Tom
Name: Store 1, dtype: object

In [50]:
df.drop('Store 1')

         Cost Item Purchased Name
Store 2  18.5       Cat Food  Kev

In [51]:
costs = df['Cost']

In [52]:
costs

Store 1    22.5
Store 2    18.5
Name: Cost, dtype: float64

In [53]:
costs += 2

In [54]:
costs

Store 1    24.5
Store 2    20.5
Name: Cost, dtype: float64

In [55]:
df

         Cost Item Purchased Name
Store 1  24.5       Dog Food  Tom
Store 2  20.5       Cat Food  Kev

In [56]:
df

         Cost Item Purchased Name
Store 1  24.5       Dog Food  Tom
Store 2  20.5       Cat Food  Kev

In [57]:
df['Cost'][df['Name'] == 'Tom'] = 12

In [58]:
df

         Cost Item Purchased Name
Store 1  12.0       Dog Food  Tom
Store 2  20.5       Cat Food  Kev