In [3]:
x = 1
y = 2
x + y

3

In [4]:
x

1

In [9]:
def add_numbers(x, y):
    return x+y

In [10]:
add_numbers(1, 2)

3

In [13]:
def add_numbers_3(x, y, z=None):
    if (z == None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers_3(1, 2))

3

In [20]:
def add_numbers_flag(x, y, z=None, flag=False):
    if (flag):
        return 'Flag is true!'
    if(z==None):
        return 'z is None!'
    else: 
        return x+y+z
        
print(add_numbers_flag(1, 2, 2))

5

In [21]:
def add_numbers(x, y):
    return x + y

a = add_numbers

print(a(1, 2))

3

In [22]:
x=(1, 2, 'a')
type(x)

tuple

In [23]:
x=[1, 2, 'a']
type(x)

list

In [24]:
x.append(3.3)

In [25]:
x

[1, 2, 'a', 3.3]

In [27]:
for item in x:
    print(item)

1
2
a
3.3

In [28]:
[1] * 3

[1, 1, 1]

In [29]:
[1, 2] * 4

[1, 2, 1, 2, 1, 2, 1, 2]

In [30]:
[1, 2] + [1, 2]

[1, 2, 1, 2]

In [31]:
(1,2) * 3

(1, 2, 1, 2, 1, 2)

In [32]:
type((1,2)*3)

tuple

In [33]:
x = "the is a string"
print(x[0])
print(x[:3])

t
the

In [34]:
print(x[:])

the is a string

In [35]:
print(x[3:])

 is a string

In [37]:
x = 'Dr. Christopher Brooks'
print(x[4:15])

Christopher

In [38]:
firstname = 'Christoper'
surname = 'Brooks'

In [39]:
firstname + surname

'ChristoperBrooks'

In [40]:
firstname * 3

'ChristoperChristoperChristoper'

In [41]:
print('Chris' in firstname)

True

In [42]:
x={'Christopher Brooks': 'brooks@gmail.com', 'Bill Gates': 'bill@microsoft.com'}

In [43]:
x['Christopher Brooks']

'brooks@gmail.com'

In [44]:
for name in x:
    print(x[name])

bill@microsoft.com
brooks@gmail.com

In [45]:
for email in x.values():
    print(email)

bill@microsoft.com
brooks@gmail.com

In [46]:
for name, email in x.items():
    print(name)
    print(email)

Bill Gates
bill@microsoft.com
Christopher Brooks
brooks@gmail.com

In [55]:
x = ('Christoper', 'Brooks', 'brooksh@sdfg.com')
fname, lname, email = x

In [56]:
fname

'Christoper'

In [57]:
lname

'Brooks'

In [58]:
email

'brooksh@sdfg.com'

In [59]:
x = ('Christoper', 'Brooks', 'brooksh@sdfg.com', 'ann arbour')
fname, lname, email = x

ValueError: too many values to unpack

In [60]:
sale_record = {'price':3.23,
              'num_item':4,
              'person': 'Chris'}
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sale_record['person'],
                            sale_record['num_item'],
                            sale_record['price'],
                            sale_record['num_item']*sale_record['price']))

Chris bought 4 item(s) at a price of 3.23 each for a total of 12.92

In [63]:
### Reading and Writing from CSV Files

In [65]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [66]:
len(mpg)

234

In [68]:
mpg[0].keys()

['',
 'trans',
 'displ',
 'hwy',
 'cty',
 'drv',
 'year',
 'model',
 'manufacturer',
 'fl',
 'class',
 'cyl']

In [69]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [70]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [72]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [73]:
CtyMPGByCyl = []

for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMPGByCyl.append((c, summpg / cyltypecount))
    
CtyMPGByCyl.sort(key=lambda x : x[0])
CtyMPGByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [74]:
vehicleClass = set(d['class'] for d in mpg)
vehicleClass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [77]:
CtyMPGByClass = []

for v in vehicleClass:
    summpg = 0
    sumVehicleClass = 0
    for d in mpg:
        if(d['class'] == v):
            summpg += float(d['cty'])
            sumVehicleClass += 1
    CtyMPGByClass.append((v, summpg / sumVehicleClass))

CtyMPGByClass.sort(key=lambda x:x[1])
CtyMPGByClass

[('pickup', 13.00),
 ('suv', 13.50),
 ('2seater', 15.40),
 ('minivan', 15.82),
 ('midsize', 18.76),
 ('compact', 20.13),
 ('subcompact', 20.37)]

In [78]:
### Date and Time

In [79]:
import datetime as dt
import time as tm

In [80]:
tm.time()

1498605817.57

In [82]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2017, 6, 28, 0, 23, 52, 588797)

In [85]:
dtnow.month

6

In [86]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [89]:
today = dt.date.today()

In [90]:
today+delta

datetime.date(2017, 10, 6)

In [91]:
today > today-delta

True

In [92]:
### OOP Python

In [93]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [94]:
person = Person()
person.set_name('Thomas')
person.set_location(123.234)
print('{} lives in {}'.format(person.name, person.location))

Thomas lives in 123.234

In [97]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.19, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

[9.00, 11.00, 12.34, 2.01]

In [98]:
### Lambda and List Comprehensions

In [99]:
my_function = lambda a, b, c: a+b

In [101]:
my_function(1, 2, 3)

3

In [102]:
my_list = []
for number in range(0, 1000):
    if number % 2 ==0:
        my_list.append(number)
        
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [103]:
my_list = [x for x in range(0, 1000) if x % 2 == 0]

In [104]:
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [105]:
### Numpy

In [106]:
import numpy as np

In [107]:
## Creating arrays

In [108]:
mylist = [1, 2, 3]
x = np.array(mylist)

In [109]:
m = np.array([[1, 2, 3], [4, 5, 6]])
m

array([[1, 2, 3],
       [4, 5, 6]])

In [110]:
m.shape()

TypeError: 'tuple' object is not callable

In [111]:
m.shape

(2, 3)

In [113]:
n = np.arange(0, 30, 2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [114]:
n = n.reshape(3, 5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [116]:
o = np.linspace(0, 1, 10)
o

array([ 0.        ,  0.11111111,  0.22222222,  0.33333333,  0.44444444,
        0.55555556,  0.66666667,  0.77777778,  0.88888889,  1.        ])

In [121]:
o.resize(5, 2)
o

array([[ 0.        ,  0.11111111],
       [ 0.22222222,  0.33333333],
       [ 0.44444444,  0.55555556],
       [ 0.66666667,  0.77777778],
       [ 0.88888889,  1.        ]])

In [124]:
x = np.ones((3, 2))

In [126]:
p = np.zeros((2, 3))

In [127]:
p

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [128]:
np.vstack([p, p+1])

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [129]:
np.hstack([p, p+1])

array([[ 0.,  0.,  0.,  1.,  1.,  1.],
       [ 0.,  0.,  0.,  1.,  1.,  1.]])

In [130]:
## OPerations

In [131]:
x + y

array([[ 3.,  3.],
       [ 3.,  3.],
       [ 3.,  3.]])

In [132]:
x - y

array([[-1., -1.],
       [-1., -1.],
       [-1., -1.]])

In [133]:
x * y

array([[ 2.,  2.],
       [ 2.,  2.],
       [ 2.,  2.]])

In [134]:
x ** 2

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

In [135]:
y ** 2

4

In [136]:
x.dot(y)

array([[ 2.,  2.],
       [ 2.,  2.],
       [ 2.,  2.]])

In [137]:
x.T

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [139]:
x.dtype

dtype('float64')

In [140]:
x.argmax()

0

In [141]:
x.argmin()

0

In [142]:
## Indexing and Slicing

In [143]:
x[x<10] = 10

In [144]:
x

array([[ 10.,  10.],
       [ 10.,  10.],
       [ 10.,  10.]])

In [145]:
x[:1][x[:1] > 5] = 5

In [146]:
x

array([[  5.,   5.],
       [ 10.,  10.],
       [ 10.,  10.]])

In [147]:
x_copy = x.copy()

In [148]:
x

array([[  5.,   5.],
       [ 10.,  10.],
       [ 10.,  10.]])

In [149]:
x_copy = 10

In [150]:
x_copy

10

In [151]:
x

array([[  5.,   5.],
       [ 10.,  10.],
       [ 10.,  10.]])

In [154]:
test = np.random.randint(0, 10, (4, 3))

In [155]:
test

array([[2, 3, 4],
       [5, 2, 4],
       [0, 7, 2],
       [6, 8, 5]])