In [1]:
import pandas as pd

In [2]:
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np

In [8]:
np.nan == None

False

In [9]:
np.nan == np.nan

False

In [10]:
np.isnan(np.nan)

True

In [12]:
sports = {'Archery':'Bhutan', 
         'Golf':'Scotland'}
s = pd.Series(sports)
s

Archery      Bhutan
Golf       Scotland
dtype: object

In [14]:
s.index

Index([u'Archery', u'Golf'], dtype='object')

In [19]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])

In [20]:
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [21]:
sports = {'Archery':'Bhutan', 
         'Golf':'Scotland'}
s = pd.Series(sports)
s

Archery      Bhutan
Golf       Scotland
dtype: object

In [22]:
s.iloc[1]

'Scotland'

In [23]:
s.loc['Golf']

'Scotland'

In [26]:
np.sum(s)

'BhutanScotland'